In [1]:
2+3

5

In [2]:
9-8

1

In [3]:
4*5

20

In [4]:
8/2

4.0

In [5]:
5/2

2.5

In [6]:
5 // 2 # Float Division

2

In [7]:
or # Floor Division

SyntaxError: invalid syntax (<ipython-input-7-3f6e66d4c522>, line 1)

In [8]:
#or # Floor Division

In [9]:
8+4*5

28

In [10]:
(8+4)*5

60

In [11]:
2*2*2

8

In [12]:
2**5
#Power

32

In [13]:
10%3

1

In [14]:
# Strings in single or double quotes

In [15]:
'Hrithik'

'Hrithik'

In [16]:
"Ha"

'Ha'

In [18]:
"'h'"

"'h'"

In [19]:
"h"

'h'

In [20]:
'"h"'

'"h"'

In [21]:
ha

NameError: name 'ha' is not defined

In [22]:
print("abc")

abc

In [23]:
print('abc')

abc

In [24]:
"abc"

'abc'

In [25]:
'abc'

'abc'

In [26]:
print("'print'")

'print'

In [27]:
print('"print"')

"print"

In [28]:
print("Hrithik's Laptop")

Hrithik's Laptop

In [29]:
print('Hrithik's Laptop')

SyntaxError: invalid syntax (<ipython-input-29-4b0f24e9c386>, line 1)

In [30]:
print('Hrithik"s Laptop')

Hrithik"s Laptop

In [31]:
print('Hrithik\'s Laptop')

Hrithik's Laptop

In [32]:
#escape character

In [33]:
"a"+'b'

'ab'

In [34]:
10*'a'

'aaaaaaaaaa'

In [35]:
11*""

''

In [36]:
11*"Hrithik"

'HrithikHrithikHrithikHrithikHrithikHrithikHrithikHrithikHrithikHrithikHrithik'

In [37]:
11*'\''

"'''''''''''"

In [38]:
print('c:\docs\nh10')

c:\docs
h10

In [39]:
# r means raw string means printing what is there in the quotes as it is

In [40]:
print(r"c:\docs\nh10")

c:\docs\nh10

In [41]:
print(r''c:\docs\nh10'')

SyntaxError: invalid syntax (<ipython-input-41-d647dbe407e0>, line 1)

In [42]:
print(r"c:\docs\nh10')

SyntaxError: EOL while scanning string literal (<ipython-input-42-81f6849232ef>, line 1)

In [43]:
x = 2

In [44]:
x

2

In [45]:
print(x)

2

In [46]:
x+3

5

In [47]:
y = 3

In [48]:
x + y

5

In [49]:
x = 9

In [50]:
x + y

12

In [51]:
abdc

NameError: name 'abdc' is not defined

In [52]:
# _ underscore represents the output of the previous operation

In [53]:
x+3

12

In [54]:
_ + 2

14

In [55]:
y = 9

In [56]:
_ + 2

16

In [57]:
name = 'youtube'

In [58]:
name

'youtube'

In [59]:
name = "you"

In [60]:
name

'you'

In [61]:
print(name)

you

In [62]:
name = "youtube"

In [63]:
print(name)

youtube

In [64]:
name = 'youtu'

In [65]:
print(name)

youtu

In [66]:
name + "Rocks"

'youtuRocks'

In [67]:
name "rocks"

SyntaxError: invalid syntax (<ipython-input-67-092539b890b4>, line 1)

In [68]:
name + " Rock"

'youtu Rock'

In [69]:
name = 'youtube'

In [70]:
name[0]

'y'

In [71]:
name[6]

'e'

In [72]:
name[10]

IndexError: string index out of range

In [73]:
# negative index means it'll start from right to left

In [74]:
name[-1]

'e'

In [75]:
name[-2]

'b'

In [76]:
name[-7]

'y'

In [77]:
name[-8]

IndexError: string index out of range

In [78]:
 # name[x:y] here x is the starting character and y is the ending character and from x till y-1 is printed

In [79]:
name[0:2]

'yo'

In [80]:
name[1:3]

'ou'

In [81]:
name[1:4]

'out'

In [82]:
print(name[1])

o

In [83]:
print(name[1:4])

out

In [84]:
name[1:]

'outube'

In [85]:
name[:4]

'yout'

In [86]:
name[3:10]

'tube'

In [87]:
name[0:3] = 'my

SyntaxError: EOL while scanning string literal (<ipython-input-87-6e0a4676ec5b>, line 1)

In [88]:
name[0:3] = 'my'

TypeError: 'str' object does not support item assignment

In [89]:
name[0] = 'a'

TypeError: 'str' object does not support item assignment

In [90]:
name[1] = "a"

TypeError: 'str' object does not support item assignment

In [91]:
# Strings in python are immutable.

In [92]:
name = "abc"

In [93]:
name

'abc'

In [94]:
# Immutable strings mean we cannot change a part of a string

In [95]:
'my' + name[3:]

'my'

In [96]:
'my' + name[3:]

'my'

In [97]:
'my ' + name[3:]

'my '

In [98]:
name

'abc'

In [99]:
name = "youtube"

In [100]:
'my' + name[3:]

'mytube'

In [101]:
'my ' + name[3:]

'my tube'

In [102]:
len(name)

7

In [103]:
# lists:

In [104]:
nums = [1,2,33,1,22,1]

In [105]:
nums

[1, 2, 33, 1, 22, 1]

In [106]:
nums[0]

1

In [107]:
nums[4]

22

In [108]:
nums[2:]

[33, 1, 22, 1]

In [109]:
nums[-1]

1

In [110]:
nums[-6]

1

In [111]:
nums[:-3]

[1, 2, 33]

In [112]:
nums[-2:]

[22, 1]

In [113]:
# in the colon operator used in strings or list, the direction is left to right

In [114]:
names = ['abc','poe','mikr']

In [115]:
names

['abc', 'poe', 'mikr']

In [116]:
values = ["Hrithik",1,2.0,'mich']

In [117]:
values

['Hrithik', 1, 2.0, 'mich']

In [118]:
# in lists we can group values of different types

In [119]:
mil = [nums,names]

In [120]:
mil

[[1, 2, 33, 1, 22, 1], ['abc', 'poe', 'mikr']]

In [121]:
abc = [["as",'a',"a"]]

In [122]:
abc

[['as', 'a', 'a']]

In [123]:
abc = [["as",'a',"a"],[1,2,3],3]

In [124]:
abc

[['as', 'a', 'a'], [1, 2, 3], 3]

In [125]:
# lists have in built methods/functions associated

In [126]:
# lists are mutable

In [127]:
nums.append(45)

In [128]:
nums

[1, 2, 33, 1, 22, 1, 45]

In [129]:
nums.clear()

In [130]:
nums

[]

In [131]:
nums = [1,2,3,4,5]

In [132]:
nums.insert(2,77)

In [133]:
nums

[1, 2, 77, 3, 4, 5]

In [134]:
nums.remove(2)

In [135]:
nums

[1, 77, 3, 4, 5]

In [136]:
nums.pop(4)

5

In [137]:
nums

[1, 77, 3, 4]

In [138]:
nums.pop() #this is stack push and pop only

4

In [139]:
nums

[1, 77, 3]

In [140]:
nums.push(2)

AttributeError: 'list' object has no attribute 'push'

In [143]:
del nums[1:] #deletes list elements from the index 1 till the end

In [142]:
nums

[1]

In [144]:
nums = [11,22,11,33,44]

In [145]:
nums.remove(11)

In [146]:
nums

[22, 11, 33, 44]

In [147]:
del nums[1:2]

In [148]:
nums

[22, 33, 44]

In [149]:
nums.extend(1,2,3)

TypeError: extend() takes exactly one argument (3 given)

In [150]:
nums.extend([1,2,3])

In [151]:
nums

[22, 33, 44, 1, 2, 3]

In [152]:
nums.min()

AttributeError: 'list' object has no attribute 'min'

In [153]:
min(nums)

1

In [154]:
max(nums)

44

In [155]:
sum(nums)

105

In [156]:
nums.sort()

In [157]:
nums

[1, 2, 3, 22, 33, 44]

In [9]:
nums = [1,2,3]

In [12]:
nums[0]="a" #mutable verified

In [11]:
nums

['a', 2, 3]

In [158]:
# tuples:

In [159]:
# THe key difference between lists and tuples is that lists are mutable and tuples are immutable.

In [160]:
# square brackets define that it is a list and round brackets define that it is a tuple

In [161]:
egtup = (21,36,23,23)

In [162]:
egtup

(21, 36, 23, 23)

In [163]:
egtup[1]

36

In [164]:
egtup[1] = 44

TypeError: 'tuple' object does not support item assignment

In [165]:
egtup.count(23)

2

In [166]:
egtup.index(1)

ValueError: tuple.index(x): x not in tuple

In [167]:
egtup.index(23)

2

SyntaxError: invalid syntax (<ipython-input-168-664c35593440>, line 1)

In [169]:
egtup.index(23)

2

In [170]:
# tuple has more execution speed than lists.

In [171]:
# Set:

In [172]:
# Curly brackets are for sets

In [173]:
# values are not ordered

In [174]:
set1 = {34,11,565,12}

In [175]:
set1

{11, 12, 34, 565}

In [176]:
# values are not in sequence/are not ordered - therefore when printing the values the values are in different order than in which they were entered.

In [177]:
# sets also remove duplicates
# sets are mutable

In [178]:
set1 = {1,2,33,22,11,11}

In [179]:
set1

{1, 2, 11, 22, 33}

In [180]:
set1

{1, 2, 11, 22, 33}

In [181]:
set1 = {22,11,33,44,1,2,64,73}

In [182]:
set1

{1, 2, 11, 22, 33, 44, 64, 73}

In [183]:
# sets uses the concept of hash and using it we increase the performance and fetch the element as fast as possible.

In [184]:
set1[2]

TypeError: 'set' object is not subscriptable

In [185]:
# set isnt ordered therefore indexing is not supported

In [186]:
set1.add(2)

In [187]:
set1

{1, 2, 11, 22, 33, 44, 64, 73}

In [188]:
set1.add(100)

In [189]:
set1

{1, 2, 11, 22, 33, 44, 64, 73, 100}

In [190]:
# many other functions too like pop, remove

In [ ]:
# sets and lists are similar. Difference is sets arent ordered and also do not support duplicate values.