In [1]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> topics

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

help> lists
No Python documentation found for 'lists'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> LISTS
Mutable Sequence Types
**********************

The operations in the following table are defined on mutable sequence
types. The "collections.abc.MutableSequence" ABC is provided to make
it easier to correctly implement these operations on custom sequence
types.

In the table *s* is an instance of a mutable sequence type, *t* is any
iterable object and *x* is an arbitrary object that meets any type and
value restrictions imposed by *s* (for example, "bytearray" only
accepts integers that meet the value restriction "0 <= x <= 255").

+--------------------------------+----------------------------------+-----------------------+
| Operation                      | Result                           | Notes                 |
|================================|==================================|=======================|
| "s[i] = x"                     | item *i* of *s* is replaced by   |                       |
|                                | *x*                              |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j] = t"                   | slice of *s* from *i* to *j* is  |                       |
|                                | replaced by the contents of the  |                       |
|                                | iterable *t*                     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j]"                   | same as "s[i:j] = []"            |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j:k] = t"                 | the elements of "s[i:j:k]" are   | (1)                   |
|                                | replaced by those of *t*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j:k]"                 | removes the elements of          |                       |
|                                | "s[i:j:k]" from the list         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.append(x)"                  | appends *x* to the end of the    |                       |
|                                | sequence (same as                |                       |
|                                | "s[len(s):len(s)] = [x]")        |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.clear()"                    | removes all items from *s* (same | (5)                   |
|                                | as "del s[:]")                   |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.copy()"                     | creates a shallow copy of *s*    | (5)                   |
|                                | (same as "s[:]")                 |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.extend(t)" or "s += t"      | extends *s* with the contents of |                       |
|                                | *t* (for the most part the same  |                       |
|                                | as "s[len(s):len(s)] = t")       |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s *= n"                       | updates *s* with its contents    | (6)                   |
|                                | repeated *n* times               |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.insert(i, x)"               | inserts *x* into *s* at the      |                       |
|                                | index given by *i* (same as      |                       |
|                                | "s[i:i] = [x]")                  |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.pop([i])"                   | retrieves the item at *i* and    | (2)                   |
|                                | also removes it from *s*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.remove(x)"                  | remove the first item from *s*   | (3)                   |
|                                | where "s[i]" is equal to *x*     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.reverse()"                  | reverses the items of *s* in     | (4)                   |
|                                | place                            |                       |
+--------------------------------+----------------------------------+-----------------------+

Notes:

1. *t* must have the same length as the slice it is replacing.

2. The optional argument *i* defaults to "-1", so that by default
   the last item is removed and returned.

3. "remove()" raises "ValueError" when *x* is not found in *s*.

4. The "reverse()" method modifies the sequence in place for
   economy of space when reversing a large sequence.  To remind users
   that it operates by side effect, it does not return the reversed
   sequence.

5. "clear()" and "copy()" are included for consistency with the
   interfaces of mutable containers that don’t support slicing
   operations (such as "dict" and "set"). "copy()" is not part of the
   "collections.abc.MutableSequence" ABC, but most concrete mutable
   sequence classes provide it.

   New in version 3.3: "clear()" and "copy()" methods.

6. The value *n* is an integer, or an object implementing
   "__index__()".  Zero and negative values of *n* clear the sequence.
   Items in the sequence are not copied; they are referenced multiple
   times, as explained for "s * n" under Common Sequence Operations.

Related help topics: LISTLITERALS

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [2]:
help('Lists')

No Python documentation found for 'Lists'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [3]:
help('LISTS')

Mutable Sequence Types
**********************

The operations in the following table are defined on mutable sequence
types. The "collections.abc.MutableSequence" ABC is provided to make
it easier to correctly implement these operations on custom sequence
types.

In the table *s* is an instance of a mutable sequence type, *t* is any
iterable object and *x* is an arbitrary object that meets any type and
value restrictions imposed by *s* (for example, "bytearray" only
accepts integers that meet the value restriction "0 <= x <= 255").

+--------------------------------+----------------------------------+-----------------------+
| Operation                      | Result                           | Notes                 |
|================================|==================================|=======================|
| "s[i] = x"                     | item *i* of *s* is replaced by   |                       |
|                                | *x*                              |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j] = t"                   | slice of *s* from *i* to *j* is  |                       |
|                                | replaced by the contents of the  |                       |
|                                | iterable *t*                     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j]"                   | same as "s[i:j] = []"            |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j:k] = t"                 | the elements of "s[i:j:k]" are   | (1)                   |
|                                | replaced by those of *t*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j:k]"                 | removes the elements of          |                       |
|                                | "s[i:j:k]" from the list         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.append(x)"                  | appends *x* to the end of the    |                       |
|                                | sequence (same as                |                       |
|                                | "s[len(s):len(s)] = [x]")        |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.clear()"                    | removes all items from *s* (same | (5)                   |
|                                | as "del s[:]")                   |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.copy()"                     | creates a shallow copy of *s*    | (5)                   |
|                                | (same as "s[:]")                 |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.extend(t)" or "s += t"      | extends *s* with the contents of |                       |
|                                | *t* (for the most part the same  |                       |
|                                | as "s[len(s):len(s)] = t")       |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s *= n"                       | updates *s* with its contents    | (6)                   |
|                                | repeated *n* times               |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.insert(i, x)"               | inserts *x* into *s* at the      |                       |
|                                | index given by *i* (same as      |                       |
|                                | "s[i:i] = [x]")                  |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.pop([i])"                   | retrieves the item at *i* and    | (2)                   |
|                                | also removes it from *s*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.remove(x)"                  | remove the first item from *s*   | (3)                   |
|                                | where "s[i]" is equal to *x*     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.reverse()"                  | reverses the items of *s* in     | (4)                   |
|                                | place                            |                       |
+--------------------------------+----------------------------------+-----------------------+

Notes:

1. *t* must have the same length as the slice it is replacing.

2. The optional argument *i* defaults to "-1", so that by default
   the last item is removed and returned.

3. "remove()" raises "ValueError" when *x* is not found in *s*.

4. The "reverse()" method modifies the sequence in place for
   economy of space when reversing a large sequence.  To remind users
   that it operates by side effect, it does not return the reversed
   sequence.

5. "clear()" and "copy()" are included for consistency with the
   interfaces of mutable containers that don’t support slicing
   operations (such as "dict" and "set"). "copy()" is not part of the
   "collections.abc.MutableSequence" ABC, but most concrete mutable
   sequence classes provide it.

   New in version 3.3: "clear()" and "copy()" methods.

6. The value *n* is an integer, or an object implementing
   "__index__()".  Zero and negative values of *n* clear the sequence.
   Items in the sequence are not copied; they are referenced multiple
   times, as explained for "s * n" under Common Sequence Operations.

Related help topics: LISTLITERALS

In [4]:
num = 5

In [5]:
id(num)

140737096660896

In [6]:
# id function returns the address of the variable

In [7]:
name = "abc"

In [8]:
id(name)

2694730597168

In [9]:
a = 10
b = a

In [10]:
a

10

In [11]:
b

10

In [12]:
id(a)

140737096661056

In [13]:
id(b)

140737096661056

In [14]:
# In python whenever we create multiple variables and in case if they have the same value, then they both will point to the same address

In [15]:
# Therefore Python is more memory efficient

In [16]:
id(10)

140737096661056

In [17]:
# The above statement is valid because everything we use in Python is an object.

In [18]:
# The address is not based on the variable name. It is based on the address. The box holding that value.

In [19]:
# These variables are also called tags because we are tagging them. So 10 is a value and we are tagging a,b. So, everything is tagging the same object.

In [20]:
a = 9

In [21]:
id(a)

140737096661024

In [22]:
# Different value different box

In [23]:
# and different box means different address

In [24]:
a = 9
k = 9
b = 8

In [25]:
id(10)

140737096661056

In [26]:
# no variable contains 10 now. It'll be garbage collected later. That is a data in memory that is not tagged by any variable, it will be garbage collected later.

In [27]:
PI = 3.14
PI

3.14

In [28]:
PI = 3

In [29]:
PI

3

In [30]:
# Captial letters indicate constants by convention.

In [31]:
# we cannot make a variable constant in python but we can show our intention using caps

In [32]:
type(PI)

int

In [33]:
PI = 3.14

In [34]:
type(PI)

float

In [35]:
# Inbuilt and user defined data types

In [36]:
# Types of inbuilt data types in Python:

In [37]:
# none, numeric, list, tuple, set, string, range, dictionary or map.

In [38]:
# none: when we have a variable that hasn't been assigned any value, then its data type is none. (in other languages we use null)

In [39]:
# null as a keyword I mean

In [40]:
# numeric: int,float,complex,bool

In [41]:
p

NameError: name 'p' is not defined

In [42]:
type(p)

NameError: name 'p' is not defined

In [43]:
int p

SyntaxError: invalid syntax (<ipython-input-43-981b21d93b1b>, line 1)

In [44]:
num = 5.2

In [45]:
type(num)

float

In [46]:
num = 3

In [47]:
type(num)

int

In [48]:
num = 2+3j

In [49]:
type(num)

complex

In [50]:
# Here we use j instead of i for complex numbers

In [51]:
a = 5.6

In [52]:
b = int(a)

In [53]:
b

5

In [54]:
a

5.6

In [55]:
type(b)

int

In [56]:
type(a)

float

In [57]:
k = float(b)

In [58]:
type(k)

float

In [59]:
k

5.0

In [60]:
b = 6

In [61]:
k = 5.0

In [62]:
c = complex(b,k)

In [63]:
c

(6+5j)

In [64]:
b<k

False

In [65]:
b>k

True

In [66]:
t = b>k

In [67]:
type(t)

bool

In [68]:
t

True

In [69]:
t = false

NameError: name 'false' is not defined

In [70]:
int(true)

NameError: name 'true' is not defined

In [71]:
int(True)

1

In [72]:
t = False

In [73]:
t

False

In [74]:
# list, tuple, set, string, range come under sequence

In [75]:
lst = [33,54,32,12,423]

In [76]:
type(lst)

list

In [77]:
lst

[33, 54, 32, 12, 423]

In [78]:
s = {1,22,1,22}

In [79]:
s

{1, 22}

In [80]:
type(s)

set

In [81]:
t = (1,22,3,1,2)

In [82]:
t

(1, 22, 3, 1, 2)

In [83]:
type(t)

tuple

In [84]:
str =

SyntaxError: invalid syntax (<ipython-input-84-08d710878a48>, line 1)

In [85]:
str = "Hrithik" # String type uses double or single quotes.

In [86]:
str

'Hrithik'

In [87]:
# Previously done these.

In [88]:
# In Python there is not a char type. But we use char as a string

In [89]:
a = 'a'

In [90]:
a

'a'

In [91]:
a = "a"

In [92]:
a

'a'

In [93]:
type(a)

str

In [94]:
a = 'a'

In [95]:
type(a)

str

In [96]:
# we can use range data type when we iterate

In [97]:
range(0,10)

range(0, 10)

In [98]:
# converting range to list to see the values.

In [99]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [100]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [101]:
# We can use a for loop also here to print it

In [102]:
list(range(2,10,2))

[2, 4, 6, 8]

In [103]:
type(range(10))

range

In [104]:
# Above types as written above in a comment are called sequences as they are sequences of values.

In [105]:
# Mapping or Dictionary is used when we have a huge amount of data and I wanna fetch the data in an efficient way. So, what we do is that we assign every value with a key. In a list, an index number is assigned with a value but in Dictionary we with every value assign a key

In [106]:
# All the keys has to be unique

In [107]:
# Values can be repeated

In [108]:
# it uses curly brackets same as set because key shouldn't repeat

In [109]:
# key : value pair

In [110]:
d = {'Hrithik':'iPhone',"Navin":"Samsung",'Rahul':"iPhone"}

In [111]:
d

{'Hrithik': 'iPhone', 'Navin': 'Samsung', 'Rahul': 'iPhone'}

In [112]:
d.keys()

dict_keys(['Hrithik', 'Navin', 'Rahul'])

In [113]:
d.values()

dict_values(['iPhone', 'Samsung', 'iPhone'])

In [114]:
d["Hrithik"]

'iPhone'

In [115]:
# or

In [116]:
d.get("Hrithik")

'iPhone'

In [117]:
# Operators: Arithmetic, Assignment, Relational, Logical, Unary

In [118]:
# Arithmetic:

In [119]:
a = 2
b = 4

In [120]:
a + b

6

In [121]:
# Done all above

In [122]:
# Assignment:

In [123]:
x = 8

In [124]:
x

8

In [125]:
x = x + 2

In [126]:
x

10

In [127]:
# Same as

In [128]:
x += 2

In [129]:
x

12

In [130]:
# Similarly with other operators

In [131]:
a,b = 5,6

In [132]:
a

5

In [133]:
b

6

In [134]:
# Unary:

In [135]:
n = 7

In [136]:
n

7

In [137]:
-n

-7

In [138]:
n = -n

In [139]:
n

-7

In [140]:
# Relational:

In [141]:
a < b

True

In [142]:
a > b

False

In [143]:
a == b

False

In [144]:
a = b = 6

In [145]:
a

6

In [146]:
b

6

In [147]:
a == b

True

In [148]:
a <= b

True

In [149]:
a >= b

True

In [150]:
a != b

False

In [151]:
b = 7

In [152]:
a != b

True

In [153]:
# Logical:

In [154]:
# Combining two conditions that result in true or false. It can be based on and, or, not

In [155]:
a = 5

In [156]:
b = 4

In [157]:
a < 8 and b < 5

True

In [158]:
a < 8 and b < 2

False

In [159]:
a < 8 or b < 2

True

In [160]:
# Truth Tables

In [161]:
x = True

In [162]:
x

True

In [163]:
 not x

False

In [164]:
# Reverse using not

In [165]:
# Number Systems:

In [166]:
# Convert decimal to binary using bin() function

In [167]:
bin(25)

'0b11001'

In [168]:
# 0b represents a binary number

In [169]:
# From binary to decimal:

In [170]:
0b101

5

In [171]:
# Decimal to Octal:

In [172]:
oct(25)

'0o31'

In [173]:
hex(25)

'0x19'

In [174]:
hex(10)

'0xa'

In [175]:
0xf

15

In [176]:
# Bitwise Operators:

In [177]:
# Compliment (~), And (&), Or(|), Xor(^), Left Shift (<<), Right Shift (>>)

In [178]:
~12

-13

In [179]:
# 00001100, all 1's and 0's interchanges/changes to 0's and 1's respectively.

In [180]:
# In our system we can store positive numbers only, we don't store negative numbers in the system, we always store positive numbers in the system. So , if we want to store minus 13 we need to convert it into a positive number

In [181]:
# we do that using 2's compliment

In [184]:
# 1's compliment + 1

In [185]:
# -13 = 1's compliment of 13 + 1
# 13 = 00001101
# 1's compliment of 13 = 11110010
# +1 = 2's compliment of 13 = -13 = 11110011
# 12 = 00001100 and ~12 = 11110011

In [186]:
# complement of a number for eg 12 is 12 in binary  then reversing 1s and 0s, the resulting number is in 2's complement

In [187]:
12 & 13

12

In [188]:
# 00001100 & 00001101 bitwise and

In [189]:
# 00001100

In [190]:
12 | 13

13

In [191]:
25 & 30

24

In [192]:
# in XOR, odd nos of 1s give output as 1 o/w 0

In [193]:
12 ^ 13

1

In [194]:
25 ^ 13

20

In [195]:
25 ^ 30

7

In [196]:
10 << 2

40

In [197]:
# 10 = ob1010.0000, left shift 2 bits will give 0b101000.00000 = 0b101000

In [198]:
10 >> 2

2

In [199]:
# 10 >> 2 is not 1010 >> 2 as 10.1000 but 10.00000

In [200]:
0b1010 >> 2

2

In [201]:
bin(0b1010 >> 2)

'0b10'

In [202]:
# Imp maths functions:

In [203]:
x = sqrt(25)

NameError: name 'sqrt' is not defined

In [204]:
# import math module

In [205]:
import math

In [206]:
x = math.sqrt(25)

In [207]:
x

5.0

In [208]:
x = math.sqrt(15)

In [209]:
x

3.872983346207417

In [210]:
print(math.floor(2.9))

2

In [211]:
print(math.ceil(2.1))

3

In [212]:
# We can use factorial, sin, cos etc

In [213]:
print(math.pow(2,3))

8.0

In [214]:
2 ** 3

8

In [215]:
print(math.pi)

3.141592653589793

In [216]:
print(math.e)

2.718281828459045

In [217]:
# It is imo objects and related functions and variable constants.

In [218]:
import math as m # as assigns an alias

In [219]:
m.sqrt(2)

1.4142135623730951

In [220]:
math.sqrt(2)

1.4142135623730951

In [221]:
# Both will work

In [222]:
# If we dont wanna import everything from math module but specifics then:

In [223]:
from math import sqrt,pow

In [224]:
# Now as we have imported the functions we dont need to specify math.sqrt for eg

In [225]:
sqrt(2)

1.4142135623730951

In [226]:
help("math")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [227]:
x=input()

2

In [228]:
# The input function always returns a string value

In [229]:
type(x)

str

In [230]:
a = int(x)

In [231]:
type(a)

int

In [232]:
y = int(input())

2

In [233]:
type(y)

int

In [234]:
ch = input("Enter a char")

Enter a charq

In [235]:
ch = input("Enter a char:")

Enter a char:1234

In [236]:
ch = input("Enter a char:")

Enter a char:c

In [237]:
ch = input("Enter a char")
print(ch[0]) # Even if the user enters more than 1 charater we are using only the first entered character.

Enter a charqwerty
q

In [238]:
ch = input("Enter a char") [0] # input will fetch the entire string but it'll only assign the first entered character to ch

Enter a charqwer

In [239]:
ch

'q'

In [240]:
ch = input("Enter a char") [0]
print(ch)

Enter a charqwerty
q

In [241]:
# eval() function evaluates the expression we are passing.
result = eval(input("Enter an expression: "))
print(result)

Enter an expression: 2+3*4
14

In [242]:
# eval evaluates the string entered using the input function above. imo converts string to a mathematical expression

In [243]:
if True:
    print("I'm right")

I'm right

In [244]:
if False:
    print("I'm not gonna print")

In [245]:
# In python a block is called as a suite

In [246]:
if False:
    print("a")
print("b")

b

In [247]:
# Python uses indentation to define scope

In [248]:
# Same number of spaces for 1 scope

In [249]:
if True:
    print('a')
    print('b')

a
b

In [250]:
x = 3
y = x % 2

if y == 0:
    print("Even")
if y == 1:
    print("Odd")

Odd

In [251]:
# The above code is not efficient as it'll check both the if statements. Use debug in Python IDLE.
# Therefore we use else and it'll check if then if the if is true then else will not be checked and performance is improved.

In [252]:
x = 3
y = x % 2

if y == 0:
    print("Even")
else:
    print("Odd")

Odd

In [253]:
# Nested if eg:

In [258]:
x = 4
y = x % 2

if y == 0:
    print("Even")
    if x > 5:
        print("Greater than 5 also")
    else:
        print("Less than 5 also")
else:
    print("Odd")
print('bye')

Even
Less than 5 also
bye

In [259]:
# we can use round brackets in the if else elif or not it is your choice

In [260]:
# But colon is compulsory

In [261]:
x = 1

if x == 1:
    print("one")
if x == 2:
    print("two")
if x == 3:
    print("three")
if x == 4:
    print("four")
    
# If x = 1, it'll print one but it'll check all other if statements. So, to avoid this we use elif. Elif means if this is not true then only it'll go for the next one.
# elif stands for else if
# can check using debug

four

In [262]:
x = 1

if x == 1:
    print("one")
elif x == 2:
    print("two")
elif x == 3:
    print("three")
elif x == 4:
    print("four")

one

In [263]:
x = 5

if x == 1:
    print("one")
elif x == 2:
    print("two")
elif x == 3:
    print("three")
elif x == 4:
    print("four")

In [264]:
x = 5

if x == 1:
    print("one")
elif x == 2:
    print("two")
elif x == 3:
    print("three")
elif x == 4:
    print("four")
else:
    print("Wrong input")

Wrong input

In [265]:
# loops:

In [266]:
print("Hi")

Hi

In [267]:
print("Hi")
print("Hi")

Hi
Hi

In [268]:
i = 1
while i <= 5:
    print("Hi")
    i = i + 1

Hi
Hi
Hi
Hi
Hi

In [269]:
i = 1
while i <= 5:
    print("Hi")
    i++

SyntaxError: invalid syntax (<ipython-input-269-29a034c1bc90>, line 4)

In [270]:
i = 5
while i >= 1:
    print("Hi")
    i = i - 1

Hi
Hi
Hi
Hi
Hi

In [271]:
i = 5
while i >= 1:
    print("Hi", i)
    i = i - 1

Hi 5
Hi 4
Hi 3
Hi 2
Hi 1

In [277]:
i = 5
while i >= 1:
    print("Hi ", end="") # end="" doesnt let the cursor print on new line it tells it to stay on the same line.
    j = 1
    while j <= 5:
        print("rocks ", end="")
        j = j + 1
    i = i - 1
    print() # This brings the cursor to a newline

Hi rocks rocks rocks rocks rocks
Hi rocks rocks rocks rocks rocks
Hi rocks rocks rocks rocks rocks
Hi rocks rocks rocks rocks rocks
Hi rocks rocks rocks rocks rocks

In [278]:
# Generally:
# While loop is for certain conditions and reiterations
# In for loop we dont specify conditions, for loop works with sequences: lists,tuples,strings,etc

In [279]:
x = ["Hrithik",12,23.2]

In [280]:
x

['Hrithik', 12, 23.2]

In [281]:
# How to print these values one by one:

In [282]:
for i in x: # i represents one element of this list at a time.
    print(i)

Hrithik
12
23.2

In [283]:
# in for loop, unlike while loop we dont initialise the variables and we dont check the conditions and we dont inc or dec by ourselves

In [284]:
# it will be done by for loop itself

In [285]:
x = 'Hrithik'
for i in x:
    print(i)

H
r
i
t
h
i
k

In [286]:
# Another way is an array and using the while loop and then using the square bracket notation we can sepcify index values

In [287]:
for i in [2,3.4,"Paul"]:
    print(i)

2
3.4
Paul

In [288]:
# printing values from 1 to 10 like in while loop:

In [289]:
for i in range(10): # start at 0 and end at 9 (10-1)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [290]:
# eg from 11 to 20
for i in range(11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [291]:
for i in range(11,21,1): # one by one increment
    print(i)

11
12
13
14
15
16
17
18
19
20

In [293]:
for i in range(11,22,2): # +2 increment
    print(i)

11
13
15
17
19
21

In [294]:
# printing in reverse order:
for i in range(20,11):
    print(i)

In [295]:
# we need to specify the increment or decrement:

In [297]:
for i in range(20,11,-1): # start from 20 and go till 12 (11+1)
    print(i)

20
19
18
17
16
15
14
13
12

In [298]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [302]:
for i in range(1,21):
    if i % 5 != 0:
    print(i)

IndentationError: expected an indented block (<ipython-input-302-5235c9dfd33f>, line 3)

In [301]:
for i in range(1,21):
    if i % 5 != 0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [303]:
x = int(input("How many candies do you want?"))

i = 1
while i <= x:
    print("Candy")
    i += 1

How many candies do you want?4
Candy
Candy
Candy
Candy

In [305]:
# what if the machine only contains 10 candies and the user asks for more
av = 10 # available candies in the wending machine
# exit(0) exists the whole program and returns to the OS with error code = 0

x = int(input("How many candies do you want?"))

i = 1
while i <= x:
    if i > av:
        break
    print("Candy")
    i += 1
print("bye")

How many candies do you want?20
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
bye

In [307]:
av = 10
x = int(input("How many candies do you want?"))

i = 1
while i <= x:
    if i > av:
        print("Out of stock")
        break
    print("Candy")
    i += 1
print("bye")

How many candies do you want?20
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Candy
Out of stock
bye

In [309]:
for i in range(1,21):
    if(i % 3 == 0):
        continue
    print(i)
print("bye")

1
2
4
5
7
8
10
11
13
14
16
17
19
20
bye

In [310]:
for i in range(1,21):
    if(i % 3 == 0 or i % 5 == 0):
        continue
    print(i)
print("bye")

1
2
4
7
8
11
13
14
16
17
19
bye

In [311]:
for i in range(1,21):
    if(i % 3 == 0 and i % 5 == 0):
        continue
    print(i)
print("bye")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
bye

In [312]:
# pass eg: I want to print values from 1 to 100 and don't print values that are odd. Can print only even values also but if we wanna focus on odd maybe in some case similar type example

In [313]:
# pass simply means there is no code and ignore it

In [315]:
for i in range(1,21):
    if(i%2!=0):
        pass
    else:
        print(i)
print("bye")

2
4
6
8
10
12
14
16
18
20
bye

In [316]:
# in C/C++ we can use curly brackets for empty block

In [317]:
# we got all the values that are "not odd" - focusing on odd instead of saying we got all the even values

In [318]:
# print this pattern:  # this is multiline stirng used as a multiline comment emulation as it is not assigned to a variable and therefore will be read only
""" 
####
####
####
####
"""

' \n####\n####\n####\n####\n'

In [319]:
# condition for eg is use 1 hash in 1 print statement

In [323]:
# doing repeating things in a loop
print("# # # #") # 4 times


print("#", end="")
print("#", end="")
print("#", end="")
print("#", end="") 
# 4 times

for j in range(4):
    print("# ",end="")
    
print()

# this whole 4 times
# therefore: select all and press tab and put all under another for
# Ignore the output below - only for demonstration

# # # #
##### # # #

In [325]:
for i in range(4):
    for j in range(4):
        print("# ",end="")

    print()

# # # #
# # # #
# # # #
# # # #

In [326]:
for i in range(4):
    for j in range(i+1):
        print("# ",end="")

    print()

#
# #
# # #
# # # #

In [327]:
for i in range(4):
    for j in range(4-i):
        print("# ",end="")

    print()

# # # #
# # #
# #
#